{% extends "base2.html" %}
{% block title %} ChangePassword {% endblock %}
{% block content %}
<form class="inputbox center-in-center text-center" method="POST" action="{% url 'change_password' %}" >
	{% csrf_token %}
	<table>
		{% for error in Form.non_field_errors %}
		<p style="color: red"> {{ error }} </p>
		{% endfor %}
		{% for field in Form.visible_fields %}
		<tr>
			<td class='inputtext'>{{field.label_tag}}</td>
			<td>{{field}}</td>
			<td style="color: red">{{field.errors}}</td>
		</tr>
		{% endfor %}
		
	</table>
	{% for field in Form.hidden_fields %}
	{{field}}
	{% endfor %}
	<input type="submit" value="Submit" class="btn btn-primary pull-right" />
	<input type="hidden" name="next" value="{{ next }}"/>
</form>
{% endblock %}