{% extends "base1.html" %}
{% block title %} ResetPassword {% endblock %}
{% block content %}
<form class="inputbox center-in-center text-center" method="POST" action="{% url 'reset_password' %}" >
	{% csrf_token %}
	{{message}}
	{% if not message %}
	<p class='inputtext'> Please enter your registeration email address. </p>
	<table>
		{% for error in Form.non_field_errors %}
		<p style="color: red"> {{ error }} </p>
		{% endfor %}
		{% for field in Form.visible_fields %}
		<tr>
			<td class='inputtext'>{{field.label_tag}}</td>
			<td>{{field}}</td>
			<td style="color: red">{{field.errors}}</td>
		</tr>
		{% endfor %}
		
	</table>
	{% for field in Form.hidden_fields %}
	{{field}}
	{% endfor %}
	
	<input type="submit" value="Submit" class="btn btn-primary pull-right" />
	{% endif %}
</form>
{% endblock %}